.catalog {
  display: flex;
  flex-direction: column;
  width: 700px;
}

.catalog__sort {
  margin-bottom: 29px;
}

.catalog__cards {
  display: flex;
  flex-wrap: wrap;
}

.catalog__pagination {
  margin-top: 30px;
}
