.content {
  display: flex;
  flex: 1 0 auto;
  margin-top: 214px;

  &--basket {
    margin-top: 238px;
  }
}

.content__wrapper {
  display: flex;
  flex-direction: column;
}

.content__header {
  margin-top: 0px;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.035em;
  color: $black;
}

.content__catalog {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 49px;
}

.content__basket {
  margin-top: 27px;
  margin-bottom: 82px;
}
