.guitar-info {
  display: flex;
}

.guitar-info__image {
  margin-top: -3px;
  margin-right: 67px;
  width: 52px;
  height: 132px;
}

.guitar-info__info {
  display: flex;
  flex-direction: column;
  width: 335px;
}

.guitar-info__header {
  margin-top: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  letter-spacing: 0.068em;
  text-transform: uppercase;
  color: $black;
}

.guitar-info__code {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.066em;
  color: $black;
}

.guitar-info__description {
  margin-top: 0;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.08em;
  color: $black;
}

.guitar-info__description-name {
  text-transform: capitalize;
}

.guitar-info--pop-up {
  .guitar-info__image {
    margin-top: 0;
    margin-right: 42px;
    width: 55px;
    height: 136px;
  }

  .guitar-info__info {
    margin-top: 16px;
    max-width: 320px;
  }

  .guitar-info__price {
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
    letter-spacing: 0.063em;
    color: $black;
  }
}
